body {
    width: 320px;
}

.list-card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.list-card-details {
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
}

.list-card-labels {
    margin: 2px 0;
    overflow: auto;
    position: relative
}

.list-card-labels:empty {
    display: none;
    margin: 0
}

.card-label.mod-card-front {
    float: left;
    font-size: 12px;
    font-weight: 600;
    height: 8px;
    line-height: 100px;
    margin: 0 3px 3px 0;
    max-width: 42px;
    min-width: 42px;
    padding: 0;
    text-shadow: none;
    width: auto
}

.card-label {
    background-color: #b6bbbf;
    border-radius: 3px;
    color: #fff;
    display: block;
    margin-right: 3px;
    max-width: 100%;
    overflow: hidden;
    padding: 3px 6px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.card-label-green {
    background-color: #61bd4f
}

.card-label-yellow {
    background-color: #f2d600
}


.card-label-red {
    background-color: #eb5a46
}

.card-label-orange {
    background-color: #ffab4a
}

.card-label-purple {
    background-color: #c377e0
}

.card-label-blue {
    background-color: #0079bf
}

.list-card-title {
    clear: both;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    word-wrap: break-word;
    color: #4d4d4d
}

.badges {
    float: left;
    max-width: 100%;
    padding-bottom: 2px;
    position: relative;
}

.badges:empty {
    display: none
}

.badge {
    color: #838c91;
    display: inline-block;
    margin: 0 4px 4px 0;
    max-width: 100%;
    min-height: 18px;
    overflow: hidden;
    position: relative;
    padding: 1px 2px;
    text-decoration: none;
    text-overflow: ellipsis
}

.badge, .badge-text {
    vertical-align: right
}

.badge-icon {
    height: 18px;
    width: 18px;
    vertical-align: right
}

.badge-text {
    font-size: 12px;
    padding: 0 2px;
    white-space: nowrap;
}

.badge.is-complete {
    background-color: #61bd4f;
    border-radius: 3px;
    color: #fff
}

.badge.is-complete .badge-icon {
    color: #fff
}

.badge.is-unread-notification {
    background-color: #eb5a46;
    border-radius: 3px;
    color: #fff
}

.badge.is-unread-notification .badge-icon {
    color: #fff
}

.badge.is-due-complete {
    background-color: #61bd4f;
    border-radius: 3px;
    color: #fff
}

.badge.is-due-complete .badge-icon {
    color: #fff
}

.badge.is-due-soon {
    background-color: #f2d600;
    border-radius: 3px;
    color: #fff
}

.badge.is-due-soon .badge-icon {
    color: #fff
}

.badge.is-due-now {
    background-color: #eb5a46;
    border-radius: 3px;
    color: #fff
}

.badge.is-due-now .badge-icon {
    color: #fff
}

.badge.is-due-past {
    background-color: #ec9488;
    border-radius: 3px;
    color: #fff
}

.badge.is-due-past .badge-icon {
    color: #fff
}

.badge.is-voted {
    background-color: #e2e4e6;
    border-radius: 3px
}


.list-card-members {
    float: right;
}

.list-card-members .member {
    float: right;
    margin: 2px 0 4px 4px;
    display: block;
}

div {
    display: block;
}

.member {
    background-color: #d6dadc;
    border-radius: 25em;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 30px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}

.list-wrapper {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}