body {
    width: 320px;
}

div {
    display: block;
}

.list {
    background: #e2e4e6;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    padding: 5px
}

.list-card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
    max-width: 310px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.list-card-details {
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
}

.list-card-labels {
    margin: 2px 0;
    overflow: auto;
    position: relative
}

.list-card-labels:empty {
    display: none;
    margin: 0
}

.card-label.mod-card-front {
    float: left;
    font-size: 12px;
    font-weight: 600;
    height: 8px;
    line-height: 100px;
    margin: 0 3px 3px 0;
    max-width: 42px;
    min-width: 42px;
    padding: 0;
    text-shadow: none;
    width: auto
}

.card-label {
    background-color: #b6bbbf;
    border-radius: 3px;
    color: #fff;
    display: block;
    margin-right: 3px;
    max-width: 100%;
    overflow: hidden;
    padding: 3px 6px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.card-label-green {
    background-color: #61bd4f
}

.card-label-yellow {
    background-color: #f2d600
}


.card-label-red {
    background-color: #eb5a46
}

.card-label-orange {
    background-color: #ffab4a
}

.card-label-purple {
    background-color: #c377e0
}

.card-label-blue {
    background-color: #0079bf
}

.list-card-title {
    clear: both;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    word-wrap: break-word;
    color: #4d4d4d
}

.badges {
    float: left;
    max-width: 100%;
    padding-bottom: 2px;
    position: relative;
}

.badges:empty {
    display: none
}

.badge {
    color: #838c91;
    display: inline-block;
    margin: 0 4px 4px 0;
    max-width: 100%;
    min-height: 18px;
    overflow: hidden;
    position: relative;
    padding: 1px 2px;
    text-decoration: none;
    text-overflow: ellipsis
}

.badge, .badge-text {
    vertical-align: right
}

.badge-icon {
    height: 18px;
    width: 18px;
    vertical-align: right
}

.badge-text {
    font-size: 12px;
    padding: 0 2px;
    white-space: nowrap;
}

.badge.is-complete {
    background-color: #61bd4f;
    border-radius: 3px;
    color: #fff
}

.badge.is-complete .badge-icon {
    color: #fff
}

.badge.is-unread-notification {
    background-color: #eb5a46;
    border-radius: 3px;
    color: #fff
}

.badge.is-unread-notification .badge-icon {
    color: #fff
}

.badge.is-due-complete {
    background-color: #61bd4f;
    border-radius: 3px;
    color: #fff
}

.badge.is-due-complete .badge-icon {
    color: #fff
}

.badge.is-due-soon {
    background-color: #f2d600;
    border-radius: 3px;
    color: #fff
}

.badge.is-due-soon .badge-icon {
    color: #fff
}

.badge.is-due-now {
    background-color: #eb5a46;
    border-radius: 3px;
    color: #fff
}

.badge.is-due-now .badge-icon {
    color: #fff
}

.badge.is-due-past {
    background-color: #ec9488;
    border-radius: 3px;
    color: #fff
}

.badge.is-due-past .badge-icon {
    color: #fff
}

.badge.is-voted {
    background-color: #e2e4e6;
    border-radius: 3px
}


.list-card-members {
    float: right;
}

.list-card-members .member {
    float: right;
    margin: 2px 0 4px 4px;
    display: block;
}

div {
    display: block;
}

.member {
    background-color: #d6dadc;
    border-radius: 25em;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 30px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
}

.list-wrapper {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.card-composer {
    padding-bottom: 8px;
}

.open-card-composer {
    border-radius: 0 0 3px 3px;
    border-style: none;
    color: #838c91;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e2e4e6;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
}

.card-composer {
    padding-bottom: 8px;
}

.cc-controls-section {
    float: left;
}

.cc-controls-section.mod-right {
    float: right;
}

input.mod-compact, input.mod-no-top-bottom-margin {
    margin-top: 0;
    margin-bottom: 0
}

input.mod-compact {
    min-height: 32px;
    padding: 4px 16px;
    vertical-align: top
}

.button-link.primary {
    background: #61bd4f;
    border-color: #61bd4f;
    border-bottom-color: #519839;
    color: #fff
}

.hide {
    display: none
}

.button.primary, button.primary, input[type=button].primary, input[type=submit].primary {
    background: #5aac44;
    -webkit-box-shadow: 0 1px 0 #519839;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    -webkit-transition: backgroun .3s ease;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.button, button, input[type=button], input[type=submit] {
    background: -webkit-gradient(linear,left top,left bottom,from(#d6dadc),to(#cdd2d4));
    background: linear-gradient(180deg,#d6dadc 0,#cdd2d4);
    border: none;
    -webkit-box-shadow: 0 1px 0 #959da1;
    box-shadow: 0 1px 0 #959da1;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
    margin: 8px 4px 0 0;
    padding: 5px 16px;
    text-align: center;
}

input.mod-compact {
    min-height: 32px;
    padding: 4px 16px;
    vertical-align: top;
}

input.mod-compact, input.mod-no-top-bottom-margin {
    margin-top: 0;
    margin-bottom: 0;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.icon-lg, .icon-sm {
    color: #999;
    padding: 3px;
}

.icon-lg {
    cursor: pointer;
    height: 32px;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
}

.icon-lg, .icon-sm {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

element.style {
    overflow: hidden;
    word-wrap: break-word;
    resize: none;
    height: 54px;
}
textarea.list-card-composer-textarea, textarea.list-card-composer-textarea:focus {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    margin-bottom: 4px;
    max-height: 162px;
    min-height: 54px;
    overflow-y: auto;
    padding: 0;
    width: 300px;
}

.textarea {
    resize: vertical;
    -webkit-transition: background 85ms ease-in,border-color 85ms ease-in;
    transition: background 85ms ease-in,border-color 85ms ease-in;
}