<a class='list-card'>
    <div class="list-card-details">
        <div class="list-card-labels">
            <div class="card-label  mod-card-front" ng-class="$ctrl.labelColor(label)" ng-repeat="label in $ctrl.carte.labels" title="{{ label.name }}"></div>
        </div>

        <span class="list-card-title" dir="auto">
            {{$ctrl.carte.name}}
        </span>
        <div class="badges">
            <span class="badges">
                <div ng-if="$ctrl.carte.badges.checkItems > 0" class="badge" title="Éléments de checklist">
                    <img class="badge-icon" src="images/checklist@2x.png" />
                    <span class="badge-text">{{ $ctrl.carte.badges.checkItemsChecked }}/{{ $ctrl.carte.badges.checkItems }}</span>
                </div>

                <div ng-if="$ctrl.carte.badges.description" class="badge is-icon-only" title="Cette carte comporte une description.">
                    <img class="badge-icon" src="images/description@2x.png" />
                </div>

                <div ng-if="$ctrl.carte.badges.comments > 0" class="badge" title="Commentaires">
                    <img class="badge-icon" src="images/comments@2x.png" />
                    <span class="badge-text">{{ $ctrl.carte.badges.comments }}</span>
                </div>

                <div ng-if="$ctrl.carte.badges.attachments > 0" class="badge" title="Commentaires">
                    <img class="badge-icon" src="images/attachments@2x.png" title="{{ $ctrl.carte.badges.attachments }} pièces jointes" />
                </div>
            </span>
        </div>
        <div class="list-card-members">
            <div class="member" ng-repeat="member in $ctrl.carte.members">
                <span class="member-initials" title="{{ member.fullName }} ({{ member.username }})">
                    {{member.initials}}
                </span>
            </div>
        </div>
    </div>
</a>