<div class="list-card-details">
    <!-- <div class="list-card-labels">
        <span class="card-label card-label-green mod-card-front" title="Developpements">Developpements</span>
    </div> -->
    <span class="list-card-title" dir="auto">
        <span>{{$ctrl.carte.name}}</span>
    <div class="badges">
        <span class="js-badges">
            <div class="badge" title="Éléments de checklist">
                <span class="badge-icon icon-sm icon-checklist"></span>
                <span class="badge-text">8/24</span>
            </div>
        </span>
        <span class="js-custom-field-badges">
            <span></span>
        </span>
        <span class="js-plugin-badges">
            <span></span>
        </span>
    </div>
    <!-- <div class="list-card-members">
        <div class="member member-initials">
            MH
        </div>
    </div> -->
</div>