<div class='list' ng-controller="trelloController">
    <div>
        <card carte='carte' ng-repeat='carte in cartes' />
    </div>


    <div class="card-composer" ng-show="saisieVisible()">
        <div class="list-card">
            <div class="list-card-details ">
                <div class="list-card-labels"></div>
                <textarea class="list-card-composer-textarea" dir="auto" placeholder="" style="overflow: hidden; word-wrap: break-word; resize: none; height: 54px;"></textarea>
                <div class="list-card-members"></div>
            </div>
        </div>

        <div class="cc-controls u-clearfix">
            <div class="cc-controls-section">
                <input class="primary confirm mod-compact js-add-card" type="submit" value="Ajouter">
                <i class="material-icons icon-lg" ng-click="annulerSaisie()">clear</i>
            </div>

            <div class="cc-controls-section mod-right">
                <div class="btn-group dropup">

                    <i class="material-icons icon-lg dropdown-toggle" data-toggle="dropdown">menu</i>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-header">Dropdown header</h6>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="open-card-composer" ng-show="ajoutCarteVisible()" ng-click="demarrerSaisie()">Ajouter une carte…</a>
</div>